html,
body {
    overflow: hidden;

    height: 100%;
}

body {
    display: flex;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #FFFFFF;
    background-color: #000000;

    font-family: Courier New, Courier, monospace;

    align-items: center;
    justify-content: center;
}

/*#bgfill {
    background-color: rgba(255, 255, 0, 0.75);
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
}*/

#bgfill {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;

    width: 0;
    height: 3vh;

    background-color: rgba(255, 255, 0, 1);
}

#timer {
    display: none;
    flex-direction: row;

    font-size: 10vw;
}



#timer > span {
    /*margin-right: 0.5em;*/
}

#time {
    display: none;
    flex-direction: row;

    font-size: 10vw;
}

#tutorial {
    display: flex;

    font-size: 9vmin;
}

#done {
    display: none;

    font-size: 10vmin;
}
