body,
html {
    overflow: hidden;
    height: 100%;
}

body {
    display: flex;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    align-items: center;
    justify-content: center;
}

.bg-fill {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3vh;
    background-color: #ff0;
}

.timer {
    font-weight: 400;
}

.time,
.timer {
    z-index: 2;
    display: none;
    flex-direction: row;
    font-size: 10vw;
}

.tutorial {
    z-index: 2;
    display: flex;
    font-size: 9vmin;
}

.done {
    z-index: 2;
    display: none;
    font-size: 10vmin;
}
